<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> 
        <!-- bean definitions here -->
        <bean id= "emp1" class="com.bridgelabz.model.Employee">
        <property name="eid" value="102"/>
        <property name ="name" value ="Bijaya"/>
        <property name="address" value="Odisa"/>
        </bean>
        <bean id= "emp2" class="com.bridgelabz.model.Employee">
        <property name="eid" value="103"/>
        <property name ="name" value ="Sweta"/>
        <property name="address" value="Thane"/>
        </bean>
</beans>