<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>UserLogInValidation</display-name>
	<welcome-file-list>
		<welcome-file>LogInPage.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LogInPage</servlet-name>
		<servlet-class>com.bridgelabz.jdbcservlet.LogInPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogInPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResultPage</servlet-name>
		<servlet-class>com.bridgelabz.jdbcservlet.ResultFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResultPage</servlet-name>
		<url-pattern>/result</url-pattern>
	</servlet-mapping>
</web-app>