<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>LogInValidation</display-name>
	<welcome-file-list>
		<welcome-file>HomePage.jsp</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>preLogInServlet</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>preLogInServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.PreLogInServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginSevlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginSevlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.LogInServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>preSignUpServlet</servlet-name>
		<url-pattern>/signUp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>preSignUpServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.PreSignUpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>signupSevlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>signupSevlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.SignUpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UnsuccessfulLogInServlet</servlet-name>
		<url-pattern>/UnsuccessfulLogIn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UnsuccessfulLogInServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.UnsuccessfulLogInServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SuccessFullLogInServlet</servlet-name>
		<url-pattern>/SuccessFullLogIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SuccessFullLogInServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.SuccessFullLogIn</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>SuccessfullRegisterServlet</servlet-name>
		<url-pattern>/SuccessfullRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SuccessfullRegisterServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.SuccessFullRegister</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogOutSuccessServlet</servlet-name>
		<url-pattern>/LogoutSuccess</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOutSuccessServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.LogOutSuccess</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignInFromLogInServlet</servlet-name>
		<url-pattern>/signupfromlogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignInFromLogInServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.SignUpServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogInAfterRegistration</servlet-name>
		<url-pattern>/SignInPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogInAfterRegistration</servlet-name>
		<servlet-class>com.bridgelabz.controller.PreLogInServlet</servlet-class>
	</servlet>


	<filter-mapping>
		<filter-name>SignUpServlet</filter-name>
		<url-pattern>/register</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>SignUpServlet</filter-name>
		<filter-class>com.bridgelabz.filter.ValidationFilter</filter-class>
	</filter>

	<servlet-mapping>
		<servlet-name>UnsuccessFullRegisterServlet</servlet-name>
		<url-pattern>/UnsuccessFullRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UnsuccessFullRegisterServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.UnsuccessfullRegisterSevlet</servlet-class>
	</servlet>

	<listener>
		<description>Session Listener Example</description>
		<listener-class>com.bridgelabz.listener.MyHttpSessionListener</listener-class>
	</listener>

	<servlet-mapping>
		<servlet-name>ForgetPasswordServlet</servlet-name>
		<url-pattern>/forgetpassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgetPasswordServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.PreForgetPasswordServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SendMailServlet</servlet-name>
		<url-pattern>/sendEmail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SendMailServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.MailAppServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignInAfterMailServlet</servlet-name>
		<url-pattern>/sendMail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignInAfterMailServlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.PreLogInServlet</servlet-class>
	</servlet>


</web-app>